@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: Domaine Regular;
      font-weight: 400;
      src: url(fonts/domaine/DomaineTextWeb-Regular.woff) format("woff");
    }
    @font-face {
      font-family: Domaine Medium;
      font-weight: 500;
      src: url(fonts/domaine/DomaineTextWeb-Medium.woff) format("woff");
    }
}